* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: #333;
}

.content {
  background: #222;
  width: 80vw;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.img {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.img img,
canvas {
  max-width: 45vw;
  max-height: 60vw;
}

.upload input {
  display: none;
}

.upload label {
  color: #fff;
  padding: 8px 20px;
  border: 2px #fff dashed;
  cursor: pointer;
}

.filter ul,
li {
  display: flex;
  flex-direction: column;
  gap: 25px;
  direction: rtl;
}

.filter ul label {
  color: #fff;
}

.filter ul li:last-child {
  flex-direction: row;
  justify-content: space-around;
}

.filter ul li a,span {
  color: #fff;
  padding: 10px 20px;
  background-color: #060;
}

@media screen and (max-width: 650px) {
  .content {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .img img,
  canvas {
    max-width: 80vw;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #3497be;
  background: #222;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
